<!DOCTYPE html>
<html ng-app="myApp">
  <head>
    <title> </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/javascripts/jquery.min.js"></script>
    <script src="/javascripts/angular.min.js"></script>
    <script src="/javascripts/client-angular.js"></script>
    <script src="/javascripts/tagsandquestionsctrl.js"></script>
  </head>
  <body ng-controller="mainctrl" ng-cloak>
    <div ng-show="!loggedin">
        email<input id="ele_email" type="input"/><br/>
        password<input id="ele_password" type="password"/>
        <button ng-click="login()">login</button>
    </div>
    <div ng-show="loggedin" ng-controller="tagsnquestionsctrl">
        <button ng-click="logout()">logout</button>
        <div >
          <br/>Tags
          <ul>
            <li ng-repeat="t in tags">{{t}}<button ng-click="deleteTag(t._id)">delete</button></li>
            <li>
            <input id="ele_title"/>
            <button ng-click="createTag()">create</button>
            </li>
          </ul>
        </div>
        <div>
          <br/>Questions
          <ul>
            <li ng-repeat="q in questions">
            {{q}}<br/>
             <button ng-click="deleteQuestion(q._id)">delete</button>
             </li>


            <li>
            prompt<input id="ele_prompt"/><br/>

            explain<input id="ele_explain"/><br/>

            tags: <span ng-repeat="t in tagsUsed track by $index">{{t.title}}<button ng-click="removeTagUsed($index)">x</button></span><br/>
            <input type="text" ng-model="search"/><br/>
            <span ng-repeat="t in tagArray | filter:search"><button ng-click="addTagUsed(t)">{{t.title}}</button></span>
            <br/>
            answer<input name="option[]"/>
            <button onclick="add(this)"> + </button><br/>

            <button ng-click="createQuestion()">create</button>
            </li>
          </ul>
        </div>
    </div>
  </div>
  </body>
  <script>
  function add(elem){
      $(elem).before('<br/>answer<input type="text" name="option[]">')
    }
  </script>
</html>

<div ng-repeat="(key, value) in myObj | filter:search">
  {{ key }} : {{ value }}
</div>
